nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 5.5rem;
  background-color: var(--black);
  color: var(--white);
}

nav a {
  color: var(--white);
  text-decoration: none;
}

.logo {
  width: 7.9rem;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo a {
  border-left: 2px solid var(--white);
  padding-left: .8rem;
  margin-left: .8rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  user-select: none;
}

.nav-logo a::after,
.nav-logo a::before {
  content: "";
  position: absolute;
  bottom: .1rem;
  left: .8rem;
  width: 0;
  height: .1rem;
  background-color: var(--white);
  transition: all .2s ease-in-out;
  display: none;
  width: 25%;
}

.nav-logo a::before {
  left: 39%;
  width: 61%;
}

.nav-logo a:hover::after,
.nav-logo a:hover::before {
  display: block;
}

.nav-menu {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.icon-search:hover {
  font-size: 1.8rem;
}

.nav-menu-resume {
  display: flex;
  gap: 1rem;
}

.nav-menu-complete {
  display: none;
  gap: 1rem;
}

.btn-request {
  background-color: rgb(25, 26, 27);
  color:var(--white);
  padding: 0.375rem 1.375rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 36px;
}

.btn-singin {
  background-color: var(--blue);
  color:var(--white);
  padding: 0.375rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 36px;
  border: none;
  text-align: center;
  transition: all .2s ease-in-out;
}

.btn-singin:hover {
  background-color: var(--white);
  color:var(--black);
}

@media (min-width: 768px) {
  nav {
    padding: 0 4.1rem;
  }
}

@media (min-width: 1195px) {
  nav {
    padding: 0 7.3rem
  }

  .nav-menu-resume {
    display: none;
  }

  .nav-menu-complete {
    display: flex;
  }
}